body{
    
    background-color: #11220f;
    padding: 1.2rem;
}
.background{
    position: relative;
}
 .titel{
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
    
    
    background-image: url("../Graphics/TitelImage.png");
    background-size: contain;
    border-radius:21px 21px 0 0;
   
}
.shadow{
    background-image: url("../Graphics/Shadow.png");
     border-radius:0 0 21px 21px;
    
}
iframe { 
  width: 100%;
  aspect-ratio: 16 / 9;
     
}
#trailer{
    width: 90%;
    margin: auto;
    padding: 1rem 1rem 1rem 1rem ;
     color: #2b5f29;
    border: 0.5rem solid;
    border-radius: 30px;
    background-color: #11220f;
   
}
h1{
  font-size: 2.5rem;
  font-weight: bold;
  
    color:#edca3d;
}
h2{
  font-size: 2rem;
  font-weight: bold;
 
    color:#edca3d;
}
h3{
  font-size: 1.5rem;
  font-weight: bold;
 margin-top: 1rem;
    margin-bottom: 0;
    color:#edca3d;
}
p{
  text-align: left;
    color: black;
    margin:  2rem 5%;
    margin-top: 1rem;
}

.row{
   margin: 0;
    /*display: flex;*/
    width: 100%;
  display: flex;
    flex-wrap: wrap;
}
.col{
    
    flex: 1;
    padding: 16px;
    box-sizing: border-box;
    
}
.col .dark{
     height: 100%;

}
.heading-style{
  color:#eafae6;
  padding: 1rem 4rem;
 
  background-size: 300px;
  font-size: 1.5rem;
  font-weight: bold;
  background-repeat: repeat-x;
}
.nav-item{
  color: #eafae6;
}
.main-site{
  
  
  text-align: center;
    
  background-color: #eafae6;
    background-image:url("../Graphics/BackGroundImage.png");
    background-repeat: repeat-y;
    background-size: contain;
    /* border-style: solid;
    color: #2b5f29;
    border: 0.5rem solid;
    border-radius: 30px;;*/
   
    
}
#heading-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   height: 100%;
    padding: 0;
    
}
.navbar{
    margin:0 auto;
    text-align: center;
   padding: 14px 16px;
    background-color: #11220f;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
   
 
  text-decoration: none;
}
#window{
  min-height: calc(100vh - 55px);
    width: 100%;
    background-color: none;
    color: #11220f;
    border: 1rem solid;
    border-radius: 30px;
    margin-top: -0.5rem;
    /*margin: -0.5rem -0.5rem;*/
}
#window div{
    color: #2b5f29;
    border: 0.7rem solid;
     border-radius: 30px;
     min-height: calc(100vh - 4.8rem);
    width: calc(100% + 0.6rem);
     margin: -0.3rem;
}
#game{
    padding-top:1.5rem;
}
.screenshot{
  
  padding:  5px;
  border-radius: 7px;
}
.images{
  
  width: calc(90% + 10px);
     margin: auto;
  
}
#team{
    width: 90%;
    margin: auto;
    padding: 0;
    display: grid;
}
.portrait{
  
    width: 40%;
  border-radius: 50%;
    border-width: 1rem;
    border: 0.5rem solid;
    padding: 0.1rem;
    background-color: #11220f;
     color: #6b4661;
}
.leftclover{
  width: 7%;
  position: absolute;
  left: 92%;
  top:15%;
  transform:rotate(45deg);
}
.rightclover{
  width: 7%;
  position: absolute;
  right: 92%;
  top:15%;
  transform: rotate(-45deg);
}
.eye{
    
    width: 7%;
   position: absolute;
  left: 69.5%;
  top:45.5%;
     margin: 0px auto;
    background-image: ;
}
.dark{
    
    background-color: #11220f;
     border-style: solid;
    color: #2b5f29;
    border: 0.5rem solid;
    border-radius: 30px;
    margin: auto 5% ;
    padding-top: 1rem;
    
}
.bio .dark{
    margin: 0;
    
    padding-bottom: 10%;
    
}
.dark p{
    color: white;
   
    
}
.bio{
    margin: 0 5%;
    
    font-size: 1.2rem;
   font-weight: bold;
}
@media (min-width: 767px){
    .screenshot{
        width: 32.5%;
    }
    .right{
        margin-right: 0;
    }
    .left{
        margin-left: 0;
    }
    
}@media (max-width: 767px){
    .screenshot{
        width: 48%;
    }
    .row{
        flex-direction: column;
    }
    .bio{
        margin: 0;
    }
    
}@media (max-width: 467px){
    .screenshot{
        width: 100%;
    }.screenshot{
        width: 100%;
    }
    
}@media (max-width: 377px){
    .screenshot{
        width: 100%;
    }
    
}
