body{

    background-color: #11220f;
    padding: 1.2rem;
}
.background{
    position: relative;
}
 .titel{
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;


    background-image: url("../Graphics/TitelImage.png");
    background-size: contain;
    border-radius:21px 21px 0 0;

}
.shadow{
    background-image: url("../Graphics/Shadow.png");
     border-radius:0 0 21px 21px;

}
iframe {
  width: 100%;
  aspect-ratio: 16 / 9;

}
#trailer{
    width: 80%;
    margin: auto;

}
h1{
  font-size: 2.5rem;
  font-weight: bold;
  font-style: italic;
}
h2{
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}
h3{
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}
p{
  text-align: left;
    color: black;
    margin:  2rem 5%;
}
.heading-style{
  color:#eafae6;
  padding: 1rem 4rem;

  background-size: 300px;
  font-size: 1.5rem;
  font-weight: bold;
  background-repeat: repeat-x;
}
.nav-item{
  color: #eafae6;
}
.main-site{


  text-align: center;

  background-color: #eafae6;
    background-image:url("../Graphics/BackGroundImage.png");
    background-repeat: repeat-y;
    background-size: contain;
     border-style: solid;
    color: #2b5f29;
    border: 0.5rem solid;
    border-radius: 30px;;


}
.screenshot{
  width: 450px;
  margin: 5px;
  border-radius: 7px;
}
.images{
  padding: 1rem;


}
.portrait{
  width: 40%;
  border-radius: 50%;
}
.leftclover{
  width: 7%;
  position: absolute;
  left: 92%;
  top:15%;
  transform:rotate(45deg);
}
.rightclover{
  width: 7%;
  position: absolute;
  right: 92%;
  top:15%;
  transform: rotate(-45deg);
}
.eye{
  width: 7%;
  position: absolute;
  left: 69.5%;
  top:45.5%;
  margin: 0px auto;

}
